<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeditApption.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E9F39BB25FBC7CE00BAC139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E9F39D125FBC7D000BAC139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E9F39DC25FBC7D000BAC139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
